body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h2{
    margin-bottom: 10px;
}

/* Utility classes */

.space{
    padding-left: 10px;
}

.spacetop{
    padding-top: 20px;

}

.spacebot{
    padding-bottom: 20px;
}

.flagred{
    border: 1px solid rgba(255, 104, 104, 1);
    color: rgba(255, 104, 104, 1);
}

.flaggreen{
    border: 1px solid rgba(44, 198, 171, 1);
    color: rgba(44, 198, 171, 1);
}

.boxescolor1{
    background-color: rgba(20, 170, 245, 1);
}

.boxescolor2{
    background-color: rgba(171, 93, 230, 1);
}

.boxescolor3{
    background-color: rgba(44, 198, 171, 1);
}

.boxescolor4{
    background-color: rgba(255, 155, 0, 1);
}

.boxescolor5{
    background-color: rgba(236, 74, 157, 1);
}

.boxescolor6{
    background-color: rgba(163, 209, 22, 1);
}


/* Inizio Header */
.logo{
    height: 100%;

}
.logoimg{
    width: 80px;
    vertical-align: middle;
}

.logotext{
    font-size: 3rem;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
}
/* Inizio Main */

/* Header Main */

#firsth2{
    margin-top: 10px;
}

#site_main{
    height: 100vh;
    background-color: rgba(246, 248, 249, 1);
    padding-top: 20px;
    
}

.main_header{
    width: 1000px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 1);
    margin: auto;
}

.addcontainer{
    padding-left: 60px;
}

.task{
    background-color: rgba(20, 170, 245, 1);
    color: white;
    padding: 5px 7px 5px 7px;
    display: inline-block;
    border-radius: 4px;
    
}

.selection{
    color: lightgray;
    border: 1px solid lightgray;
    padding: 5px 7px 5px 7px;
    display: inline-block;
    border-radius: 4px;

}

/* Main Main */

.main_main{
    width: 1000px;
    background-color: rgba(255, 255, 255, 1);
    margin: auto;
}
.title{
    padding-left: 50px;
}


.boxes{
    
    padding: 4px 7px 4px 7px;
    border-radius: 10px;
    font-size: 0.7rem;
    display: inline-block;
    color: white;
}

.flag{
    display: inline-block;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    line-height: 12px;
    text-align: center;
    padding: 1px;
    
}

/* Inizio Footer */