:root{
    --blue: rgba(20, 170, 245, 1);
    --purple: rgba(171, 93, 230, 1);
    --green: rgba(44, 198, 171, 1);
    --orange: rgba(255, 155, 0, 1);
    --pink: rgba(236, 74, 157, 1);
    --lightgreen: rgba(163, 209, 22, 1);
    --lightyellow: rgba(251, 242, 165, 1);
    --lightred: rgba(255, 104, 104, 1);
    --green2: rgba(44, 198, 171, 1);
    
}

body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(246, 248, 249, 1);
    margin: 0;
    
}
h2{
    margin-bottom: 10px;
}

/* Utility classes */

.space{
    padding-left: 10px;
}

.spacetop{
    padding-top: 20px;

}

.spacebot{
    padding-bottom: 20px;
}

.flagred{
    border: 1px solid var(--lightred);
    color: var(--lightred);
}

.flaggreen{
    border: 1px solid var(--green2);
    color: var(--green2);
}

.boxescolor1{
    background-color: var(--blue);
}

.boxescolor2{
    background-color: var(--purple);
}

.boxescolor3{
    background-color: var(--green);
}

.boxescolor4{
    background-color: var(--orange);
}

.boxescolor5{
    background-color: var(--pink);
}

.boxescolor6{
    background-color: var(--lightgreen);
}


/* Inizio Header */
#site_header{
    background-color: var(--lightyellow); 
} 

/* Se l'immagine avesse sfondo trasparente tutto l'header avrebbe lo sfondo corretto. */
.logoimg{  
    width: 80px;
    vertical-align: middle;
}

.logotext{
    font-size: 3rem;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
}
/* Inizio Main */

/* Header Main */

#firsth2{
    margin-top: 10px;
}

#site_main{
    background-color: rgba(246, 248, 249, 1);
    padding-top: 20px;
    
}

.main_header{
    width: 1000px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--lightyellow);
    margin: auto;
}

.addcontainer{
    padding-left: 60px;
}

.task{
    background-color: rgba(20, 170, 245, 1);
    color: white;
    padding: 5px 7px 5px 7px;
    display: inline-block;
    border-radius: 4px;
    
}

.selection{
    color: lightgray;
    border: 1px solid lightgray;
    padding: 5px 7px 5px 7px;
    display: inline-block;
    border-radius: 4px;

}

/* Main Main */

.main_content{
    width: 1000px;
    background-color: var(--lightyellow);
    margin: auto;
}
.title{
    padding-left: 50px;
}


.boxes{
    
    /* padding: 4px 7px 4px 7px; */
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 0.7rem;
    display: inline-block;
    color: white;
    margin-left: 8px;
}

.flag{
    display: inline-block;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 14px;
    text-align: center;
    padding: 2px;
    margin-right: 5px;
    
}


/* Inizio Footer */

#site_footer{
    text-align: center;
    margin-top: 20px;

}